p {
    color: #FFFFFF;
    font-family: arial;
}

img {
    width: 100%;
}

.container {
    z-index: 2;
    position: sticky;
}

body {
    background-image: url("img/background.jpg");
    background-color: #000000;
    background-size: 100%;
    color: white;
}

.fa {
    transition: 0.5s;
}

.fa-fire {
    color: orange;
}

.fa-fire:hover {
    color: red;
}

.fa-spinner {
    color: orange;
}

.fa-repeat {
    color: orange;
}

.fa-repeat:hover {
    color: red;
}